
RPC_URL=https://api.devnet.solana.com
MAINNET_PUBLIC_RPC_URL=https://api.mainnet-beta.solana.com
TESTNET_PUBLIC_RPC_URL=https://api.testnet.solana.com
TESTING_PUBLIC_RPC_URL=https://api.testnet.solana.com


FUNDING_WALLET_PATH=.secrets/fundingWallet.json
TOKEN_AUTHORITY_PATH=.secrets/tokenAuthority.json

FUNDINGWALLET=GPebLyg9rrQiKKXMLiiFnPxwAFgoKU2RgbYDwbtD61Jg

